@import './all-var/color.scss';
@import './all-var/fontSize.scss';
@import './all-var/border.scss';


$namespace: el;
$elment__sep: __;
$modifier--sep: --;
$state-prefix: is-;


/* Header
--------------------------*/
$--header-padding: 0 20px !default;

/* Footer
--------------------------*/
$--footer-padding: 0 20px !default;

/* Main
--------------------------*/
$--main-padding: 0 20px !default;


/* Media Query
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakPoints: (
    'xs': (max-width: $--sm - 1),
    'sm': (min-width: $--sm),
    'md': (min-width: $--md),
    'lg': (min-width: $--lg),
    'xl': (min-width: $--xl),
);

$--breakPoints-spec: (
    'xs-only': (max-width: $--sm - 1),
    'sm-and-up': (min-width: $--sm),
    'sm-only': (min-width: #{$--sm}) and (max-width: #{$--md -1}),
    'sm-and-down': (max-width: $--md - 1),
    'md-and-up': (min-width: $--md),
    'md-only': (min-width: #{$--md}) and (max-width: #{$--lg -1}),
    'md-and-down': (max-width: $--lg - 1),
    'lg-and-up': (min-width: $--lg),
    'lg-only': (min-width: #{$--lg}) and (max-width: #{$--xl - 1}),
    'lg-and-down': (max-width: $--xl - 1),
    'xl-only': (min-width: $--xl),
);


/** Button
-----------------------------*/
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;
$--button-font-size: $--font-size-base !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-border-radius: $--border-radius-base !default;

$--button-medium-padding-vertical: 10px;
$--button-medium-padding-horizontal: 20px;
$--button-medium-font-size: $--font-size-base;
$--button-medium-border-radius: $--border-radius-base;

$--button-small-padding-vertical: 9px;
$--button-small-padding-horizontal: 15px;
$--button-small-font-size: $--font-size-extra-small;
$--button-small-border-radius: #{$--border-radius-base - 1};

$--button-mini-padding-vertical: 7px;
$--button-mini-padding-horizontal: 15px;
$--button-mini-font-size: $--font-size-extra-small;
$--button-mini-border-radius: #{$--border-radius-base - 1};

$--button-default-background-color: $--color-white !default; // #fff
$--button-default-border-color: $--border-color-base !default; // #dcdfe6
$--button-default-font-color: $--color-text-regular !default; // #606266

$--button-primary-background-color: $--color-primary !default; // #4093ff
$--button-primary-border-color: $--color-primary !default; // #4093ff
$--button-primary-font-color: $--color-white !default; // #fff 

$--button-success-background-color: $--color-success !default; // #67c23a
$--button-success-border-color: $--color-success !default; // #67c23a
$--button-success-font-color: $--color-white !default; // #fff


$--button-info-background-color: $--color-info !default; //  #909399
$--button-info-border-color: $--color-info !default; //  #909399
$--button-info-font-color: $--color-white !default; // #fff

$--button-warning-background-color: $--color-warning !default; // e6a23c
$--button-warning-border-color: $--color-warning !default; // e6a23c
$--button-warning-font-color: $--color-white !default; // #fff

$--button-danger-background-color: $--color-danger !default; // #f56c6c
$--button-danger-border-color: $--color-danger !default; // #f56c6c
$--button-danger-font-color: $--color-white !default; // #fff

$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default; // #ebeef5
$--button-disabled-font-color: $--color-text-placeholder !default; // #c0c4cc


$--button-active-shade-percent: 10% !default;
$--button-hover-tint-percent: 20% !default;



/** Link
-----------------------------*/
$--link-font-size: $--font-size-base !default; // 14px
$--link-font-weight: $--font-weight-primary !default; // 500
$--link-default-font-color: $--color-text-regular !default; // 606266
$--link-active-font-color: $--color-primary !default; // 409eff
$--link-primary-font-color: $--color-primary !default; // 409eff
$--link-success-font-color: $--color-success !default; 
$--link-warning-font-color: $--color-warning !default; 
$--link-danger-font-color: $--color-danger !default; 
$--link-info-font-color: $--color-info !default; 
