/** Border
----------------------------*/
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-base: 1px solid $--border-color-base !default;
$--border-radius-base: 4px !default; // 大圆角
$--border-radius-small: 2px !default; // 小圆角
$--border-radius-zero: 0 !default; // 无圆角
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, .1) !default;
