/** Typography
-------------------------------*/
$--font-path: 'fonts'; // 字体路径
$--font-size-extra-large: 20px !default; // 主标题
$--font-size-large: 18px !default; // 标题
$--font-size-medium: 16px !default; // 小标题
$--font-size-base: 14px !default; // 正文
$--font-size-small: 13px !default; // 正文（小）
$--font-size-extra-small: 12px !default; // 正文（小）
$--font-weight-primary: 500 !default; // 字体加粗
